<!--
 Name: Ron Nguyen
 Date: Feb. 5, 2023
 Description: This is experience page will gather user's biography, git link, year experience, and willing
 to locate information

 -->

 {% include 'header.html' %}
    <div class="container-fluid lightgrey">
        <h2 >Personal Information</h2>
        <hr class="line">

        <form action="/experience" method="POST" class="form-horizontal">
            <div class="row">
                <div class="col-12 col-sm-8">
                    <label for="biography"><strong>Biography</strong></label><br>
                    <textarea id="biography" name="biography" rows="9"></textarea>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="row">
                        <label for="gitLink"><strong>Github Link: </strong></label>
                        <input type="text" id="gitLink" name="gitLink" placeholder="https://github.com/my_github">
                    </div>
                    <div class="row">
                        <p class="exPad"><strong>Year Experience</strong><br></p>
                        <input type="radio" id="html" name="fav_language" value="0 - 2">
                        <label for="html">0 - 2</label><br>
                        <input type="radio" id="css" name="fav_language" value="2 - 4">
                        <label for="css">2 - 4</label><br>
                        <input type="radio" id="javascript" name="fav_language" value="4 +">
                        <label for="javascript">4 +</label>
                    </div>
                    <div class="row">
                        <p class="exPad"><strong>Willing to relocate</strong><br></p>
                        <input type="radio" id="html" name="fav_language1" value="Yes">
                        <label for="html">Yes</label><br>
                        <input type="radio" id="css" name="fav_language1" value="No">
                        <label for="css">No</label><br>
                    </div>
                    <div class="pad">
                        <input type="submit" value="Submit" />
                      </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>