

{% include 'header.html' %}
  <div class="container-fluid">
    <h2 >Job Openings Mailing List</h2>
    <hr class="line">
    <form action="#" method="post">
      <div class="row">
        <p><strong>Software Development Jobs</strong></p>
        <div class="row checkbox">
        </div>
      </div>
      <div class="row">
        <p><strong>Industry Verticals</strong></p>
        <div class="row checkbox">

      </div>
      </div>
      <div class="row exPad">
        <div class="col-12 col-sm-4"></div>
        <div class="col-12 col-sm-4"></div>
        <div class="pad">
          <a
            role="button"
            class="button2 btn btn-primary"
            value="Sign in"
            href="summary"
          >
            Next</a
          >
        </div>
      </div>

    </form>
  </div>
</body>
</html>