

{% include 'header.html' %}
  <div class="container-fluid">
    <h2 >Job Openings Mailing List</h2>
    <hr class="line">
      <div class="row">
        <p><strong>Software Development Jobs</strong></p>
        <form action = "/mailingList" method = "POST">
        <div class="row checkbox">
          <div class = "col-3">
          <input type="checkbox"  name="Jobs" value="JavaScript">  
          <label for="1">JavaScript</label>
          </div>
          <div class = "col-3">
            <input type="checkbox" name="Jobs" value="PHP">
            <label for="2">PHP</label>
          </div>
          <div class = "col-3">
            <input type="checkbox"  name="Jobs" value="Java">
            <label for="3">Java</label>
          </div>
          <div class = "col-3">
            <input type="checkbox" id="vehicle1" name="Jobs" value="Python">
            <label for="vehicle1">Python</label>
          </div>  
          <div class = "col-3">
            <input type="checkbox" id="vehicle1" name="Jobs" value="HTML">
            <label for="vehicle1">HTML</label>
          </div>  
          <div class = "col-3">
            <input type="checkbox" id="vehicle1" name="Jobs" value="CSS">
            <label for="vehicle1">CSS</label>
          </div>  
          <div class = "col-3">
            <input type="checkbox" id="vehicle1" name="Jobs" value="ReactJS">
            <label for="vehicle1">ReactJS</label>
          </div>  
          <div class = "col-3">
            <input type="checkbox" id="vehicle1" name="Jobs" value="NodeJs">
            <label for="vehicle1">NodeJs</label>
          </div>  


        </div>
      </div>
      <div class="row">
        <p><strong>Industry Verticals</strong></p>
        <div class="row checkbox">
          <div class = "col-3">
            <input type="checkbox"  name="Industry" value="SaaS">  
            <label for="1">SaaS</label>
            </div>
            <div class = "col-3">
              <input type="checkbox" name="Industry" value="Health tech">
              <label for="2">Health tech</label>
            </div>
            <div class = "col-3">
              <input type="checkbox"  name="Industry" value="Ag tech">
              <label for="3">Ag tech</label>
            </div>
            <div class = "col-3">
              <input type="checkbox" id="vehicle1" name="Industry" value="HR tech">
              <label for="vehicle1">HR tech</label>
            </div>  
            <div class = "col-3">
              <input type="checkbox" id="vehicle1" name="Industry" value="industrial tech">
              <label for="vehicle1">industrial tech</label>
            </div>  
            <div class = "col-3">
              <input type="checkbox" id="vehicle1" name="Industry" value="Cybersecruity">
              <label for="vehicle1">Cybersecruity</label>
            </div>  
      </div>
      </div>
      <div class="row exPad">
        <div class="col-12 col-sm-4"></div>
        <div class="col-12 col-sm-4"></div>
        <div class="pad">
          <input type="submit" value="Submit" class="button2 btn btn-primary" />
        </div>
      </div>

    </form>
  </div>
</body>
</html>