<!--
 Name: Ron Nguyen
 Date: Feb. 5, 2023
 Description: This file will display all the information that the applicant typed and selected

 -->
 {% include 'header.html' %}
<div class="row padTop">
    <div class="col-12 col-sm-6 box">
        <p class="fSize">Name: {{ first_name }} {{last_name }}</p>
        <hr class="line">
        <p class="fSize">Email:{{ email }} </p>
        <hr class="line">
        <p class="fSize">State:{{ state }} </p>
        <hr class="line">
        <p class="fSize">Phone: {{ phone }} </p>
        <hr class="line">
        <p class="fSize">Github Link: {{gitlink}} </p>
        <hr class="line">
        <p class="fSize">Experience: years {{year}}</p>
        <hr class="line">
        <p class="fSize">Willing to relocate: {{experience}}</p>
        <hr class="line">
        <p class="fSize">Mailing Lists: {{jobs}} {{industry}}
    
        </p>
        <hr class="line">
    </div>
    <div class="col-12 col-sm-6">
        <img class="round" src="/static/images/avatar.png" alt="profile picture icon">
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6"><p></p></div>
    <div class="col-12 col-sm-6">
        <p class="padLR"><strong>Summary</strong></p>
        <p>{{bio}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-3"></div>
    <div class="pad">
        <input type="submit" value="Submit" />
      </div>
    <div class="col-12 col-sm-3"></div>
</div>
</body>
</html>