<!--
 Name: Ron Nguyen
 Date: Feb. 5, 2023
 Description: This file will display all the information that the applicant typed and selected

 -->
 {% include 'header.html' %}
<div class="row padTop">
    <div class="col-12 col-sm-6 box">
        <p class="fSize">Name: {{ data }}</p>
        <hr class="line">
        <p class="fSize">Email: </p>
        <hr class="line">
        <p class="fSize">State: </p>
        <hr class="line">
        <p class="fSize">Phone: </p>
        <hr class="line">
        <p class="fSize">Github Link: </p>
        <hr class="line">
        <p class="fSize">Experience: years</p>
        <hr class="line">
        <p class="fSize">Willing to relocate:</p>
        <hr class="line">
        <p class="fSize">Mailing Lists:
    
        </p>
        <hr class="line">
    </div>
    <div class="col-12 col-sm-6">
        <img class="round" src="/static/images/avatar.png" alt="profile picture icon">
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6"><p></p></div>
    <div class="col-12 col-sm-6">
        <p class="padLR"><strong>Summary</strong></p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-3"></div>
    <div class="col-12 col-sm-6">
        <button class="nextButton btn btn-primary padLR" type="submit">Submit my application!</button>
    </div>
    <div class="col-12 col-sm-3"></div>
</div>
</body>
</html>